@model IEnumerable<EventManagementSystem.Models.Customers>

@{
    ViewData["Title"] = "GetDeletedCustomers";
}

<h2>Deleted Customers</h2>
<div class="float-right">
    <a class="btn btn-secondary btn-sm" id="buttons" asp-action="Index" asp-controller="Customer">Back to Customers</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Middlename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Middlename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>

                <td>
                    @Html.ActionLink("Revert", "Edit", new { /* id=item.PrimaryKey */ }) |

                </td>
            </tr>
        }
    </tbody>
</table>
